*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  color: hsl(0 0 0);
  font-size: 1rem;
  background: hsl(0 0 100);

  padding: 0;
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  padding: 0.5em 1em;
  border-bottom: 1px solid hsl(0 0 80);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header h1 {
  padding: 0;
  margin: 0;
}

nav button {
  color: hsl(0 0 0);
  font-size: 1rem;
  font-weight: 700;
  padding: 0.2em 0.5em;
  border: none;
  border-bottom: 2px solid transparent;
  background: transparent;
}

nav button:hover {
  border-bottom: 2px solid hsl(0 0 50);
}

main {
  flex: 1;
}

footer {
  font-size: 1rem;
  text-align: center;
  padding: 1em;
  border-top: 1px solid hsl(0 0 80);
}
