*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  color: hsl(0 0 0);
  font-size: 1rem;
  background: hsl(0 0 100);

  padding: 0;
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  padding: 0.5em 1em;
  border-bottom: 1px solid hsl(0 0 80 / 0.5);
  background: hsl(0 0 100 / 0.5);
  backdrop-filter: blur(4px);

  position: fixed;
  z-index: 2;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header h1 {
  padding: 0;
  margin: 0;
}

nav button {
  color: hsl(0 0 0);
  font-size: 1rem;
  font-weight: 700;
  padding: 0.2em 0.5em;
  border: none;
  border-bottom: 2px solid transparent;
  background: transparent;
}

nav button:hover {
  border-bottom: 2px solid hsl(0 0 0);
}

main {
  background: no-repeat center/auto max(100vw, 100vh)
    url('./assets/hero-section-background.jpg') hsl(0 0 0);
  position: relative;
  z-index: 1;
  flex: 1;
}

main::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: linear-gradient(hsl(0 100 15 / 0.2), hsl(240 100 5));
}

.hero-section {
  color: hsl(0 0 100);
  font-size: calc(1rem + 2vw);
  white-space: pre-wrap;
  text-align: center;
  line-height: 1;

  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-header {
  margin: 0;
}

.hero-section span {
  font-size: 0.8em;
}

.menu-page {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  color: hsl(0 0 90);
  font-weight: 700;
  padding: 0.5em 1em 10em;
  margin: 5rem;

  height: 76vh;
  background: no-repeat 45% center/250% 200% url('./assets/cutting-board.jpg');
  box-shadow: 0px 0px 15px hsl(0 0 0 / 0.5);
  border-radius: 20px;
  position: relative;
  z-index: 1;
}

/* overlay */ 
.menu::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  background: hsl(0 0 0 / 0.5);
  border-radius: 20px;
}

.menu h1 {
  text-align: center;
  margin: 0.5em 0;
  border-bottom: 2px solid hsl(0 0 70);
}

.menu-item {
  margin-bottom: 1em;
  display: grid;
  grid-template-columns: 70px 200px 50px;
  align-items: center;
  gap: 10px;
}

.menu-item img {
  height: 70px;
  width: 70px;
  border-radius: 50%;
}

.menu-item .food-name {
  font-size: 1.5rem;
}

.menu-item .price {
  text-align: center;
  font-size: 2em;
  border: 1px solid hsl(0 0 100);
}

.menu-item .price::before {
  content: '$';
}

footer {
  font-size: 1rem;
  text-align: center;
  padding: 1em;
  border-top: 1px solid hsl(0 0 80);
}
