*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  color: hsl(0 0 0);
  font-size: 1rem;
  background: hsl(0 0 100);

  padding: 0;
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  padding: 0.5em 1em;
  border-bottom: 1px solid hsl(0 0 80);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header h1 {
  padding: 0;
  margin: 0;
}

nav button {
  color: hsl(0 0 0);
  font-size: 1rem;
  font-weight: 700;
  padding: 0.2em 0.5em;
  border: none;
  border-bottom: 2px solid transparent;
  background: transparent;
}

nav button:hover {
  border-bottom: 2px solid hsl(0 0 50);
}

main {
  flex: 1;
}

.hero-section {
  color: hsl(0 0 100);
  font-size: calc(1rem + 2vw);
  white-space: pre-wrap;
  text-align: center;
  line-height: 1;
  background: no-repeat center/auto max(100vw, 100vh)
    url('./assets/hero-section-background.jpg') hsl(0 0 0);

  height: 100vh;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-section::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: linear-gradient(hsl(0 100 15 / 0.2), hsl(240 100 5));
}

.hero-header {
  margin: 0;
}

.hero-section span {
  font-size: 0.8em;
}

footer {
  font-size: 1rem;
  text-align: center;
  padding: 1em;
  border-top: 1px solid hsl(0 0 80);
}
